nav.navbar.navbar-top(role='navigation')
      .container
        .navbar-header.navbar-right
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li.active
              a(href='#') Die Bewahrer
            li
              a(href='#impressum') Impressum
