div#hutreihe {
    background: #F2EAB1 url("/img/gruppenfoto.jpg") no-repeat right top;
    height: 19em;
    background-size: cover;
    padding: 1em;
}
.hat-row {
    background-color: #999999;
    div.hut-col {
        min-width: 240px;
        h2.char-name {
            font-size: 1.5em;
        }
    }
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
